@charset "UTF-8";
/* CSS RESET */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Playfair Display", serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Dot Navigation */
.dotNav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 3;
}

.dotItem {
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 3px solid #3e3e3b;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.dotItem:hover {
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 3px solid inherit;
  border-radius: 20px;
  background-color: #3e3e3b;
}

.dotItemActive {
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 3px solid inherit;
  border-radius: 20px;
  background-color: #3e3e3b;
}

/* Navigation */
.navArea {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 70px;
  width: calc(100% + 1px);
  overflow: visible;
  left: -1px;
  /* -1px to hide the margin inherited by navWrapper as a child element of navSection */
  color: #3e3e3b;
  background-color: #ebeced;
  box-sizing: border-box;
  padding: 20px;
  z-index: 3;
}

.navSection {
  flex: 1;
}

.navLogo {
  text-align: center;
}

.navMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: transform 0.5s linear;
  background-color: #a2aab0;
  text-align: center;
}

.navMenuOPEN {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  transition: transform 0.5s linear;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.navItem {
  flex: 1;
  flex-basis: 100%;
}

.navItem > a {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  transition: opacity 0.5 linear;
}

.navItem > a:hover {
  color: #4c586f;
  opacity: 0.8;
}

.navPages {
  padding: 50px 0px 0px 0px;
}

.navPages > li {
  padding: 0px 0px 50px 0px;
}

.navSocialMedia {
  padding: 50px 0px 0px 0px;
}

.navSocialMedia > .navItem {
  flex-basis: auto;
  font-size: 29px;
}

.navButtonWrapper {
  float: right;
}

.navIcon {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin: 0px;
  background-color: transparent;
}

/* animated ICON */
.navAnimatedIcon {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0px auto;
  font-size: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navAnimatedIcon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #21251f;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.navAnimatedIcon span:nth-child(1) {
  top: 0.5em;
}

.navAnimatedIcon span:nth-child(2), .navAnimatedIcon span:nth-child(3) {
  top: 1em;
}

.navAnimatedIcon span:nth-child(4) {
  top: 1.5em;
}

.navAnimatedIcon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navAnimatedIcon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navAnimatedIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navAnimatedIcon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media (min-width: 768px) {
  /* Navigation */
  .navArea {
    overflow: hidden;
  }

  .navMenu {
    position: relative;
    width: auto;
    height: auto;
    -webkit-transform: none;
    transform: none;
    transition: transform 0.5s linear;
    background-color: transparent;
  }

  .navList {
    flex-wrap: nowrap;
  }

  .navPages {
    padding: 0;
  }

  .navPages > li {
    padding: 0;
  }

  .navSocialMedia {
    display: none;
  }

  .navButton {
    display: none;
  }
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../../slick/fonts/slick.eot");
  src: url("../../slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("../../slick/fonts/slick.woff") format("woff"), url("../../slick/fonts/slick.ttf") format("truetype"), url("../../slick/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  z-index: 2;
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  bottom: 0%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 50px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: 25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: 25px;
}
[dir=rtl] .slick-next {
  left: 25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

h2 {
  font-size: 26px;
}

.bigText {
  font-size: 26px;
}

a {
  color: #3e3e3b;
  text-decoration: none;
}

a:hover {
  color: #4c586f;
  opacity: 0.8;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  color: #3e3e3b;
  font-weight: thin;
}

header {
  height: 100vh;
  overflow: hidden;
  background-color: #ebeced;
}

.headerWrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.title {
  font-size: 20vw;
  font-weight: 900;
  color: #3e3e3b;
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  -webkit-animation-duration: 1s;
  -moz-animatioin-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  -moz-animatioin-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animatioin-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  -moz-animatioin-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.cover {
  height: 45vh;
  position: absolute;
  top: 40vh;
  left: 70%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

section {
  position: relative;
  min-height: 100vh;
  background-color: #ebeced;
  padding: 70px 10px 10px 10px;
}

section:nth-of-type(2) {
  background-color: #4c586f;
  color: #fff;
}

.sectionWrapper {
  position: relative;
  width: auto;
  margin: 0 auto;
  background-color: transparent;
}

.sectionGrid {
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.sectionGrid > div:nth-of-type(1) {
  width: 100%;
  text-align: center;
}

.portrait {
  display: inline-block;
  border: 20px solid #fff;
  width: 70vw;
  opacity: 0;
  -webkit-animation-duration: 1s;
  -moz-animatioin-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animatioin-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  -moz-animatioin-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.slideDisplay {
  overflow: hidden;
}

.slide {
  height: auto;
  overflow: hidden;
}

.workGrid {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.workGrid > div {
  min-height: 30vh;
}

.workGrid > div:nth-of-type(1) {
  width: 100%;
}

.workGrid > div:nth-of-type(1) > .textWrapper > p {
  padding: 0px 0px 10px 0px;
}

.stackIcons > li {
  display: inline-block;
  font-size: 26px;
  color: #fff;
}

.workLink > a {
  color: #fff;
}

.workImage {
  height: 30vh;
  box-shadow: 5px 5px 15px 0px #3e3e3b;
}

.contactGrid {
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.contactGrid > div {
  text-align: center;
  min-height: 20vw;
  opacity: 0;
  -webkit-animation-duration: 1s;
  -moz-animatioin-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animatioin-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  -moz-animatioin-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.contactGrid > div:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
  -moz-animatioin-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.contactGrid > div:nth-of-type(3) {
  -webkit-animation-delay: 1s;
  -moz-animatioin-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

.contactIcon {
  font-size: 60px;
  color: #4c586f;
}

footer {
  height: 45vh;
  background: #a2aab0;
  color: #ebeced;
  padding: 10px;
  position: relative;
}

#footerLinks {
  float: left;
}

#footerPages {
  display: inline-block;
  vertical-align: top;
}

#footerPages > li {
  padding: 0px 10px 10px 0px;
}

#footerSocialMedia {
  display: inline-block;
  vertical-align: top;
}

#footerSocialMedia > li {
  padding: 0px 10px 10px 0px;
}

#footerText {
  text-align: left;
  position: absolute;
  left: 10px;
  bottom: 20px;
}

/* Animation */
@keyframes fadeInLeft {
  0% {
    margin-left: -5vw;
    opacity: 0;
  }
  100% {
    margin-left: 0px;
    opacity: 1;
  }
}
@keyframes fadeInTop {
  0% {
    margin-top: -5vw;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
/* Breakpoint - Desktop */
@media (min-width: 768px) {
  section {
    padding: 70px;
  }

  .sectionGrid {
    grid-template-columns: 1fr 1fr;
  }

  .title {
    font-size: 10vw;
    left: 70px;
  }

  .cover {
    top: 10vh;
    height: 90vh;
    max-height: 90vh;
  }

  .portrait {
    width: 25vw;
  }

  .workGrid {
    grid-template-columns: 1fr 1fr;
  }

  .workImage {
    height: 45vh;
  }

  .contactGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  footer {
    padding: 70px;
  }

  #footerText {
    left: 70px;
  }
}
/* Breakpoint - Large monitors */
@media (min-width: 1680px) {
  .sectionWrapper {
    width: calc(100vw / 2);
  }
}

/*# sourceMappingURL=main.css.map */
